// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif !important;

$material-light: (
  app-bar: #ffffff,
  background: #faf7f7, //radial-gradient(50% 142.58% at 50% 50%,#f5f5f5 0%,#e6eaf2 80.21%)
);

$material-dark: (
  app-bar: #1e1e1e,
  background: #1a1a1a
);

$container-max-widths: (
    'xl': 1185px
);

$data-table-expanded-content-box-shadow: '';
$parallax-padding: 0 !important;
